Update Unbound to 1.5.9 from 1.5.3

https://www.unbound.net/download.html

---

https://github.com/jedisct1/unbound/blob/0c269248ac0c406caf479eeedb755bd0a8fafa95/doc/Changelog

> 8 August 2016: Wouter
>       - Note that OPENPGPKEY type is RFC 7929.
> 
> 4 August 2016: Wouter
>       - Fix #807: workaround for possible some "unused" function parameters
>         in test code, from Jinmei Tatuya.
> 
> 3 August 2016: Wouter
>       - use sendmsg instead of sendto for TFO.
> 
> 28 July 2016: Wouter
>       - Fix #806: wrong comment removed.
> 
> 26 July 2016: Wouter
>       - nicer ratelimit-below-domain explanation.
> 
> 22 July 2016: Wouter
>       - Fix #801: missing error condition handling in
>         daemon_create_workers().
>       - Fix #802: workaround for function parameters that are "unused"
>         without log_assert.
>       - Fix #803: confusing (and incorrect) code comment in daemon_cleanup().
> 
> 20 July 2016: Wouter
>       - Fix typo in unbound.conf.
> 
> 18 July 2016: Wouter
>       - Fix #798: Client-side TCP fast open fails (Linux).
> 
> 14 July 2016: Wouter
>       - TCP Fast open patch from Sara Dickinson.
>       - Fixed unbound.doxygen for 1.8.11.
> 
> 7 July 2016: Wouter
>       - access-control-tag-data implemented. verbose(4) prints tag debug.
> 
> 5 July 2016: Wouter
>       - Fix dynamic link of anchor-update.exe on windows.
>       - Fix detect of mingw for MXE package build.
>       - Fixes for 64bit windows compile.
>       - Fix #788 for nettle 3.0: Failed to build with Nettle >= 3.0 and
>         --with-libunbound-only --with-nettle.
> 
> 4 July 2016: Wouter
>       - For #787: prefer-ip6 option for unbound.conf prefers to send
>         upstream queries to ipv6 servers.
>       - Fix #787: outgoing-interface netblock/64 ipv6 option to use linux
>         freebind to use 64bits of entropy for every query with random local
>         part.
> 
> 30 June 2016: Wouter
>       - Document always_transparent, always_refuse, always_nxdomain types.
> 
> 29 June 2016: Wouter
>       - Fix static compile on windows missing gdi32.
> 
> 28 June 2016: Wouter
>       - Create a pkg-config file for libunbound in contrib.
> 
> 27 June 2016: Wouter
>       - Fix #784: Build configure assumess that having getpwnam means there
>         is endpwent function available.
>       - Updated repository with newer flex and bison output.
> 
> 24 June 2016: Ralph
>       - Possibility to specify local-zone type for an acl/tag pair
>       - Possibility to specify (override) local-zone type for a source address
>         block
> 16 June 2016: Ralph
>       - Decrease dp attempts at each QNAME minimisation iteration
> 
> 16 June 2016: Wouter
>       - Fix tcp timeouts in tv.usec.
> 
> 15 June 2016: Wouter
>       - TCP_TIMEOUT is specified in milliseconds.
>       - If more than half of tcp connections are in use, a shorter timeout
>         is used (200 msec, vs 2 minutes) to pressure tcp for new connects.
> 
> 14 June 2016: Ralph
>       - QNAME minimisation unit test for dropped QTYPE=A queries.
> 
> 14 June 2016: Wouter
>       - Fix 775: unbound-host and unbound-anchor crash on windows, ignore
>         null delete for wsaevent.
>       - Fix spelling in freebind option man page text.
>       - Fix windows link of ssl with crypt32.
>       - Fix 779: Union casting is non-portable.
>       - Fix 780: MAP_ANON not defined in HP-UX 11.31.
>       - Fix 781: prealloc() is an HP-UX system library call.
> 
> 13 June 2016: Ralph
>       - Use QTYPE=A for QNAME minimisation.
>       - Keep track of number of time-outs when performing QNAME minimisation.
>         Stop minimising when number of time-outs for a QNAME/QTYPE pair is
>         more than three.
> 
> 13 June 2016: Wouter
>       - Fix #778: unbound 1.5.9: -h segfault (null deref).
>       - Fix directory: fix for unbound-checkconf, it restores cwd.
> 
> 10 June 2016: Wouter
>       - And delete service.conf.shipped on uninstall.
>       - In unbound.conf directory: dir immediately changes to that directory,
>         so that include: file below that is relative to that directory.
>         With chroot, make the directory an absolute path inside chroot.
>       - keep debug symbols in windows build.
>       - do not delete service.conf on windows uninstall.
>       - document directory immediate fix and allow EXECUTABLE syntax in it
>         on windows.
> 
> 9 June 2016: Wouter
>       - Trunk is called 1.5.10 (with previous fixes already in there to 2
>         june).
>       - Revert fix for NetworkService account on windows due to breakage
>         it causes.
>       - Fix that windows install will not overwrite existing service.conf
>         file (and ignore gui config choices if it exists).
> 
> 7 June 2016: Ralph
>       - Lookup localzones by taglist from acl.
>       - Possibility to lookup local_zone, regardless the taglist.
>       - Added local_zone/taglist/acl unit test.
> 
> 7 June 2016: Wouter
>       - Fix #773: Non-standard Python location build failure with pyunbound.
>       - Improve threadsafety for openssl 0.9.8 ecdsa dnssec signatures.
> 
> 6 June 2016: Wouter
>       - Better help text from -h (from Ray Griffith).
>       - access-control-tag config directive.
>       - local-zone-override config directive.
>       - access-control-tag-action and access-control-tag-data config
>         directives.
>       - free acl-tags, acltag-action and acltag-data config lists during
>         initialisation to free up memory for more entries.
> 
> 3 June 2016: Wouter
>       - Fix to not ignore return value of chown() in daemon startup.
> 
> 2 June 2016: Wouter
>       - Fix libubound for edns optlist feature.
>       - Fix distinction between free and CRYPTO_free in dsa and ecdsa alloc.
>       - Fix #752: retry resource temporarily unavailable on control pipe.
>       - un-document localzone tags.
>       - tag for release 1.5.9rc1.
>         And this also became release 1.5.9.
>       - Fix (for 1.5.10): Fix unbound-anchor.exe file location defaults to
>         Program Files with (x86) appended.
>       - re-documented localzone tags in example.conf.
> 
> 31 May 2016: Wouter
>       - Fix windows service to be created run with limited rights, as a
>         network service account, from Mario Turschmann.
>       - compat strsep implementation.
>       - generic edns option parse and store code.
>       - and also generic edns options for upstream messages (and replies).
>         after parse use edns_opt_find(edns.opt_list, LDNS_EDNS_NSID),
>         to insert use edns_opt_append(edns, region, code, len, bindata) on
>         the opt_list passed to send_query, or in edns_opt_inplace_reply.
> 
> 30 May 2016: Wouter
>       - Fix time in case answer comes from cache in ub_resolve_event().
>       - Attempted fix for #765: _unboundmodule missing for python3.
> 
> 27 May 2016: Wouter
>       - Fix #770: Small subgroup attack on DH used in unix pipe on localhost
>         if unbound control uses a unix local named pipe.
>       - Document write permission to directory of trust anchor needed.
>       - Fix #768:  Unbound Service Sometimes Can Not Shutdown
>         Completely, WER Report Shown Up.  Close handle before closing WSA.
> 
> 26 May 2016: Wouter
>       - Updated patch from Charles Walker.
> 
> 24 May 2016: Wouter
>       - disable-dnssec-lame-check config option from Charles Walker.
>       - remove memory leak from lame-check patch.
>       - iana portlist update.
> 
> 23 May 2016: Wouter
>       - Fix #767:  Reference to an expired Internet-Draft in
>         harden-below-nxdomain documentation.
> 
> 20 May 2016: Ralph
>       - No QNAME minimisation fall-back for NXDOMAIN answers from DNSSEC
>         signed zones.
>       - iana portlist update.
> 
> 19 May 2016: Wouter
>       - Fix #766: dns64 should synthesize results on timeout/errors.
> 
> 18 May 2016: Wouter
>       - Fix #761: DNSSEC LAME false positive resolving nic.club.
> 
> 17 May 2016: Wouter
>       - trunk updated with output of flex 2.6.0.
> 
> 6 May 2016: Wouter
>       - Fix memory leak in out-of-memory conditions of local zone add.
> 
> 29 April 2016: Wouter
>       - Fix sldns with static checking fixes copied from getdns.
> 
> 28 April 2016: Wouter
>       - Fix #759: 0x20 capsforid no longer checks type PTR, for
>         compatibility with cisco dns guard.  This lowers false positives.
> 
> 18 April 2016: Wouter
>       - Fix some malformed reponses to edns queries get fallback to nonedns.
> 
> 15 April 2016: Wouter
>       - cachedb module event handling design.
> 
> 14 April 2016: Wouter
>       - cachedb module framework (empty).
>       - iana portlist update.
> 
> 12 April 2016: Wouter
>       - Fix #753: document dump_requestlist is for first thread.
> 
> 24 March 2016: Wouter
>       - Document permit-small-holddown for 5011 debug.
>       - Fix #749: unbound-checkconf gets SIGSEGV when use against a
>         malformatted conf file.
> 
> 23 March 2016: Wouter
>       - OpenSSL 1.1.0 portability, --disable-dsa configure option.
> 
> 21 March 2016: Wouter
>       - Fix compile of getentropy_linux for SLES11 servicepack 4.
>       - Fix dnstap-log-resolver-response-messages, from Nikolay Edigaryev.
>       - Fix test for openssl to use HMAC_Update for 1.1.0.
>       - acx_nlnetlabs.m4 to v33, with HMAC_Update.
>       - acx_nlnetlabs.m4 to v34, with -ldl -pthread test for libcrypto.
>       - ERR_remove_state deprecated since openssl 1.0.0.
>       - OPENSSL_config is deprecated, removing.
> 
> 18 March 2016: Ralph
>       - Validate QNAME minimised NXDOMAIN responses.
>       - If QNAME minimisation is enabled, do cache lookup for QTYPE NS in
>         harden-below-nxdomain.
> 
> 17 March 2016: Ralph
>       - Limit number of QNAME minimisation iterations.
> 
> 17 March 2016: Wouter
>       - Fix #746: Fix unbound sets CD bit on all forwards.
>         If no trust anchors, it'll not set CD bit when forwarding to another
>         server.  If a trust anchor, no CD bit on the first attempt to a
>         forwarder, but CD bit thereafter on repeated attempts to get DNSSEC.
>       - iana portlist update.
> 
> 16 March 2016: Wouter
>       - Fix ip-transparent for ipv6 on FreeBSD, thanks to Nick Hibma.
>       - Fix ip-transparent for tcp on freebsd.
> 
> 15 March 2016: Wouter
>       - ip_freebind: yesno option in unbound.conf sets IP_FREEBIND for
>         binding to an IP address while the interface or address is down.
> 
> 14 March 2016: Wouter
>       - Fix warnings in ifdef corner case, older or unknown libevent.
>       - Fix compile for ub_event code with older libev.
> 
> 11 March 2016: Wouter
>       - Remove warning about unused parameter in event_pluggable.c.
>       - Fix libev usage of dispatch return value.
>       - No side effects in tolower() call, in case it is a macro.
>       - For test put free in pluggable api in parenthesis.
> 
> 10 March 2016: Wouter
>       - Fixup backend2str for libev.
> 
> 09 March 2016: Willem
>       - User defined pluggable event API for libunbound
>       - Fixup of compile fix for pluggable event API from P.Y. Adi
>         Prasaja.
> 
> 09 March 2016: Wouter
>       - Updated configure and ltmain.sh.
>       - Updated L root IPv6 address.
> 
> 07 March 2016: Wouter
>       - Fix #747: assert in outnet_serviced_query_stop.
>       - iana ports fetched via https.
>       - iana portlist update.
> 
> 03 March 2016: Wouter
>       - configure tests for the weak attribute support by the compiler.
> 
> 02 March 2016: Wouter
>       - 1.5.8 release tag
>       - trunk contains 1.5.9 in development.
>       - iana portlist update.
>       - Fix #745: unbound.py - idn2dname throws UnicodeError when idnname
>         contains trailing dot.
> 
> 24 February 2016: Wouter
>       - Fix OpenBSD asynclook lock free that gets used later (fix test code).
>       - Fix that NSEC3 negative cache is used when there is no salt.
> 
> 23 February 2016: Wouter
>       - ub_ctx_set_stub() function for libunbound to config stub zones.
>       - sorted ubsyms.def file with exported libunbound functions.
> 
> 19 February 2016: Wouter
>       - Print understandable debug log when unusable DS record is seen.
>       - load gost algorithm if digest is seen before key algorithm.
>       - iana portlist update.
> 
> 17 February 2016: Wouter
>       - Fix that "make install" fails due to "text file busy" error.
> 
> 16 February 2016: Wouter
>       - Set IPPROTO_IP6 for ipv6 sockets otherwise invalid argument error.
> 
> 15 February 2016: Wouter
>       - ip-transparent option for FreeBSD with IP_BINDANY socket option.
>       - wait for sendto to drain socket buffers when they are full.
> 
> 9 February 2016: Wouter
>       - Test for type OPENPGPKEY.
>       - insecure-lan-zones: yesno config option, patch from Dag-Erling
>         Smørgrav.
> 
> 8 February 2016: Wouter
>       - Fix patch typo in prevuous commit for 734 from Adi Prasaja.
>       - RR Type CSYNC support RFC 7477, in debug printout and config input.
>       - RR Type OPENPGPKEY support (draft-ietf-dane-openpgpkey-07).
> 
> 29 January 2016: Wouter
>       - Neater cmdline_verbose increment patch from Edgar Pettijohn.
> 
> 27 January 2016: Wouter
>       - Made netbsd sendmsg test nonfatal, in case of false positives.
>       - Fix #741: log message for dnstap socket connection is more clear.
> 
> 26 January 2016: Wouter
>       - Fix #734: chown the pidfile if it resides inside the chroot.
>       - Use arc4random instead of random in tests (because it is
>         available, possibly as compat, anyway).
>       - Fix cmsg alignment for argument to sendmsg on NetBSD.
>       - Fix that unbound complains about unimplemented IP_PKTINFO for
>         sendmsg on NetBSD (for interface-automatic).
> 
> 25 January 2016: Wouter
>       - Fix #738: Swig should not be invoked with CPPFLAGS.
> 
> 19 January 2016: Wouter
>       - Squelch 'cannot assign requested address' log messages unless
>         verbosity is high, it was spammed after network down.
> 
> 14 January 2016: Wouter
>       - Fix to simplify empty string checking from Michael McConville.
>       - iana portlist update.
> 
> 12 January 2016: Wouter
>       - Fix #734: Do not log an error when the PID file cannot be chown'ed.
>         Patch from Simon Deziel.
> 
> 11 January 2016: Wouter
>       - Fix test if -pthreads unused to use better grep for portability.
> 
> 06 January 2016: Wouter
>       - Fix mingw crosscompile for recent mingw.
>       - Update aclocal, autoconf output with new versions (1.15, 2.4.6).
> 
> 05 January 2016: Wouter
>       - #731: tcp-mss, outgoing-tcp-mss options for unbound.conf, patch
>         from Daisuke Higashi.
>       - Support RFC7686: handle ".onion" Special-Use Domain. It is blocked
>         by default, and can be unblocked with "nodefault" localzone config.
> 
> 04 January 2016: Wouter
>       - Define DEFAULT_SOURCE together with BSD_SOURCE when that is defined,
>         for Linux glibc 2.20.
>       - Fixup contrib/aaaa-filter-iterator.patch for moved contents in the
>         source code, so it applies cleanly again.  Removed unused variable
>         warnings.
> 
> 15 December 2015: Ralph
>       - Fix #729: omit use of escape sequences in echo since they are not
>         portable (unbound-control-setup).
> 
> 11 December 2015: Wouter
>       - remove NULL-checks before free, patch from Michael McConville.
>       - updated ax_pthread.m4 to version 21 with clang support, this
>         removes a warning from compilation.
>       - OSX portability, detect if sbrk is deprecated.
>       - OSX clang, stop -pthread unused during link stage warnings.
>       - OSX clang new flto check.
> 
> 10 December 2015: Wouter
>       - 1.5.7 release
>       - trunk has 1.5.8 in development.
> 
> 8 December 2015: Wouter
>       - Fixup 724 for unbound-control.
> 
> 7 December 2015: Ralph
>       - Do not minimise forwarded requests.
> 
> 4 December 2015: Wouter
>       - Removed unneeded whitespace from example.conf.
> 
> 3 December 2015: Ralph
>       - (after rc1 tag)
>       - Committed fix to qname minimisation and unit test case for it.
> 
> 3 December 2015: Wouter
>       - iana portlist update.
>       - 1.5.7rc1 prerelease tag.
> 
> 2 December 2015: Wouter
>       - Fixup 724: Fix PCA prompt for unbound-service-install.exe.
>         re-enable stdout printout.
>       - For 724: Add Changelog to windows binary dist.
> 
> 1 December 2015: Ralph
>       - Qname minimisation review fixes
> 
> 1 December 2015: Wouter
>       - Fixup 724 fix for fname_after_chroot() calls.
>       - Remove stdout printout for unbound-service-install.exe
>       - .gitignore for git users.
> 
> 30 November 2015: Ralph
>       - Implemented qname minimisation
> 
> 30 November 2015: Wouter
>       - Fix for #724: conf syntax to read files from run dir (on Windows).
> 
> 25 November 2015: Wouter
>       - Fix for #720, fix unbound-control-setup windows batch file.
> 
> 24 November 2015: Wouter
>       - Fix #720: add windows scripts to zip bundle.
>       - iana portlist update.
> 
> 20 November 2015: Wouter
>       - Added assert on rrset cache correctness.
>       - Fix that malformed EDNS query gets a response without malformed EDNS.
> 
> 18 November 2015: Wouter
>       - newer acx_nlnetlabs.m4.
>       - spelling fixes from Igor Sobrado Delgado.
> 
> 17 November 2015: Wouter
>       - Fix #594. libunbound: optionally use libnettle for crypto.
>         Contributed by Luca Bruno.  Added --with-nettle for use with
>         --with-libunbound-only.
>       - refactor nsec3 hash implementation to be more library-portable.
>       - iana portlist update.
>       - Fixup DER encoded DSA signatures for libnettle.
> 
> 16 November 2015: Wouter
>       - Fix for lenient accept of reverse order DNAME and CNAME.
> 
> 6 November 2015: Wouter
>       - Change example.conf: ftp.internic.net to https://www.internic.net
> 
> 5 November 2015: Wouter
>       - ACX_SSL_CHECKS no longer adds -ldl needlessly.
> 
> 3 November 2015: Wouter
>       - Fix #718: Fix unbound-control-setup with support for env
>         without HEREDOC bash support.
> 
> 29 October 2015: Wouter
>       - patch from Doug Hogan for SSL_OP_NO_SSLvx options.
>       - Fix #716: nodata proof with empty non-terminals and wildcards.
> 
> 28 October 2015: Wouter
>       - Fix checklock testcode for linux threads on exit.
> 
> 27 October 2015: Wouter
>       - isblank() compat implementation.
>       - detect libexpat without xml_StopParser function.
>       - portability fixes.
>       - portability, replace snprintf if return value broken.
> 
> 23 October 2015: Wouter
>       - Fix #714: Document config to block private-address for IPv4
>         mapped IPv6 addresses.
> 
> 22 October 2015: Wouter
>       - Fix #712: unbound-anchor appears to not fsync root.key.
> 
> 20 October 2015: Wouter
>       - 1.5.6 release.
>       - trunk tracks development of 1.5.7.
> 
> 15 October 2015: Wouter
>       - Fix segfault in the dns64 module in the formaterror error path.
>       - Fix sldns_wire2str_rdata_scan for malformed RRs.
>       - tag for 1.5.6rc1 release.
> 
> 14 October 2015: Wouter
>       - ANY responses include DNAME records if present, as per Evan Hunt's
>         remark in dnsop.
>       - Fix manpage to suggest using SIGTERM to terminate the server.
> 
> 9 October 2015: Wouter
>       - Default for ssl-port is port 853, the temporary port assignment
>         for secure domain name system traffic.
>         If you used to rely on the older default of port 443, you have
>         to put a clause in unbound.conf for that.  The new value is likely
>         going to be the standardised port number for this traffic.
>       - iana portlist update.
> 
> 6 October 2015: Wouter
>       - 1.5.5 release.
>       - trunk tracks the development of 1.5.6.
> 
> 28 September 2015: Wouter
>       - MAX_TARGET_COUNT increased to 64, to fix up sporadic resolution
>         failures.
>       - tag for 1.5.5rc1 release.
>       - makedist.sh: pgp sig echo commands.
> 
> 25 September 2015: Wouter
>       - Fix unbound-control flush that does not succeed in removing data.
> 
> 22 September 2015: Wouter
>       - Fix config globbed include chroot treatment, this fixes reload of
>         globs (patch from Dag-Erling Smørgrav).
>       - iana portlist update.
>       - Fix #702: New IPs for for h.root-servers.net.
>       - Remove confusion comment from canonical_compare() function.
>       - Fix #705: ub_ctx_set_fwd() return value mishandled on windows.
>       - testbound selftest also works in non-debug mode.
>       - Fix minor error in unbound.conf.5.in
>       - Fix unbound.conf(5) access-control description for precedence
>         and default.
> 
> 31 August 2015: Wouter
>       - changed windows setup compression to be more transparent.
> 
> 28 August 2015: Wouter
>       - Fix #697: Get PY_MAJOR_VERSION failure at configure for python
>         2.4 to 2.6.
>       - Feature #699: --enable-pie option to that builds PIE binary.
>       - Feature #700: --enable-relro-now option that enables full read-only
>         relocation.
> 
> 24 August 2015: Wouter
>       - Fix deadlock for local data add and zone add when unbound-control
>         list_local_data printout is interrupted.
>       - iana portlist update.
>       - Change default of harden-algo-downgrade to off.  This is lenient
>         for algorithm rollover.
> 
> 13 August 2015: Wouter
>       - 5011 implementation does not insist on all algorithms, when
>         harden-algo-downgrade is turned off.
>       - Reap the child process that libunbound spawns.
> 
> 11 August 2015: Wouter
>       - Fix #694: configure script does not detect LibreSSL 2.2.2
> 
> 4 August 2015: Wouter
>       - Document that local-zone nodefault matches exactly and transparent
>         can be used to release a subzone.
> 
> 3 August 2015: Wouter
>       - Document in the manual more text about configuring locally served
>         zones.
>       - Fix 5011 anchor update timer after reload.
>       - Fix mktime in unbound-anchor not using UTC.
> 
> 30 July 2015: Wouter
>       - please afl-gcc (llvm) for uninitialised variable warning.
>       - Added permit-small-holddown config to debug fast 5011 rollover.
> 
> 24 July 2015: Wouter
>       - Fix #690: Reload fails when so-reuseport is yes after changing
>         num-threads.
>       - iana portlist update.
> 
> 21 July 2015: Wouter
>       - Fix configure to detect SSL_CTX_set_ecdh_auto.
>       - iana portlist update.
> 
> 20 July 2015: Wouter
>       - Enable ECDHE for servers.  Where available, use
>         SSL_CTX_set_ecdh_auto() for TLS-wrapped server configurations to
>         enable ECDHE.  Otherwise, manually offer curve p256.
>         Client connections should automatically use ECDHE when available.
>         (thanks Daniel Kahn Gillmor)
> 
> 18 July 2015: Willem
>       - Allow certificate chain files to allow for intermediate certificates.
>         (thanks Daniel Kahn Gillmor)
> 
> 13 July 2015: Wouter
>       - makedist produces sha1 and sha256 files for created binaries too.
> 
> 9 July 2015: Wouter
>       - 1.5.4 release tag
>       - trunk has 1.5.5 in development.
>       - Fix #681: Setting forwarders with unbound-control forward
>         implicitly turns on forward-first.
> 
> 29 June 2015: Wouter
>       - iana portlist update.
>       - Fix alloc with log for allocation size checks.
> 
> 26 June 2015: Wouter
>       - Fix #677 Fix DNAME responses from cache that failed internal chain
>         test.
>       - iana portlist update.
> 
> 22 June 2015: Wouter
>       - Fix #677 Fix CNAME corresponding to a DNAME was checked incorrectly
>         and was therefore always synthesized (thanks to Valentin Dietrich).
